.wrapper {
    height: 80px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
}

.inner {
    height: 100%;
    display: flex;
}

.logo {
    height: 100%;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);

    > .image-logo {
        cursor: pointer;
        transform: scale(0.7);
    }
}

.search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    width: 70%;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 0px 20px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);

    &:focus {
        outline: none;
    }
}
